// header section-i ucun variables 
$width:1200px;
$height:1200px;
$z-index:1;
$padding:60px;
$margin:60px;
$font-size:80px;
$color-white:white;
$color-red:red;
$color-darkred:#e91b1b;
$colwidth:100%;
$color-black:black;