{% extends "admin/layout.html" %}
{% block pageadmin %}
<form style="margin: auto; width:1000px" action="/all" method="POST">
    <div class="form-group" style="height: 250px;background-color: white; width:100%;color:blue">Sirket haqqinda melumati daxil edin: Block 2<br>
        <input class="form-control" type="text" placeholder="Add aboutBox1"  name="aboutbox1"  style="height: 80px; background:rgb(230, 244, 248)">
        <input class="form-control" type="text" placeholder="Add aboutBox2"  name="aboutbox2"   style="height: 80px;background:rgb(230, 244, 248)">
        <input class="form-control" type="text" placeholder="Add aboutBox3"  name="aboutbox3"   style="height: 80px;background:rgb(230, 244, 248)">
    </div><br>
    <div class="form-group" style="height: 250px;background-color: white; width:100%;color:blue" >Sirket haqqinda melumati daxil edin: Block 3<br>
        <input class="form-control" type="text" placeholder="Add aboutBox4"  name="aboutbox4"   style="height: 80px;background:rgb(230, 244, 248)">
        <input class="form-control" type="text" placeholder="Add aboutBox5"  name="aboutbox5"   style="height: 80px;background:rgb(230, 244, 248)">
        <input class="form-control" type="text" placeholder="Add aboutBox6"  name="aboutbox6"   style="height: 80px;background:rgb(230, 244, 248)"> 
    </div>   
    <button type="submit" class="btn btn-primary" style="margin-top:14px;background-color: red; outline:none;border:none;height:40px;width:120px;">Add Post</button>
  </form>
{% endblock pageadmin %}