{% extends "admin/layout.html" %}
{% block pageadmin %}
<form style="margin: auto; width:1000px" action="/about/add" method="POST">
    <div class="form-group" style="background-color: white; width:100%;color:blue">Sirket haqqinda melumati daxil edin: Block 2<br>
        <textarea name="aboutbox1" id="" cols="150" rows="5" style="background-color: yellow; width:100%;margin: 0px -2px;" placeholder="Esas hhisse ucun:"></textarea>
        <textarea name="aboutbox2" id="" cols="150" rows="5" style="background-color: yellow; width:100%;margin: 0px -2px;" placeholder="diger hisse:"></textarea>
        <textarea name="aboutbox3" id="" cols="150" rows="5" style="background-color: yellow; width:100%;margin: 0px -2px;" placeholder="diger hisse:"></textarea>
    </div><br>
    <div class="form-group" style="background-color: white; width:100%;color:blue" >Sirket haqqinda melumati daxil edin: Block 3<br>
        <textarea name="aboutbox4" id="" cols="150" rows="5" style="background-color: yellow; width:100%;margin: 0px -2px;" placeholder="diger hisse :"></textarea>
        <textarea name="aboutbox5" id="" cols="150" rows="5" style="background-color: yellow; width:100%;margin: 0px -2px;" placeholder="diger hisse:"></textarea>
        <textarea name="aboutbox6" id="" cols="150" rows="5" style="background-color: yellow; width:100%;margin: 0px -2px;"  placeholder="diger hisse:"></textarea>
    </div>   
    <button type="submit" class="btn btn-primary" style="background-color: red; outline:none;border:none;height:40px;width:80px;">Add Post</button>
  </form>
{% endblock pageadmin %}