<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title2}}</title>
    <link rel="stylesheet" href="../static/sass/style.scss">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <section id="section1">
        <div class="over-lay-section1 width-100">
            <div class="largeblock-section1 flex justify-content-between width-100">
                {% extends "base.html" %}
            {% block content %}
        </div>
        <div class="row-section1">
            <div class="col-1">
                <div class="upletter-section1">
                    <h1>Konstrakt story</h1>
                    <div class="section1-line"></div>
                    <p>Distinctively re-engineer revolutionary meta-services and premium<br>architectures. Intrinsically incubate intuitive opportunities and real-<br>time potentialities.</p>
                </div>
            </div>
            <div class="row">
                <div class="upline-section1"></div>
                <div class="col-4">
                    <div class="section1coll-4">
                        <div class="about-btns"> 
                            <button class="about-btn transition"><i class="fas fa-chevron-left"></i></button>
                            <button class="about-btn transition"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="section1col-4">
                        <div class="all-p">
                            <span>"</span>
                        <h3>A mission becomes your constitution, the solid expression of your vision and values.</h3>
                        <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.</p>
                        <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Objectively innovate empowered manufactured products whereas parallel platforms.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="section1col-4">              
                       <div class="all-p">
                        <p>Objectively integrate enterprise-wide strategic theme areas with functionalized infrastructures. Interactively productize premium technologies whereas interdependent quality vectors. Rapaciously utilize enterprise experiences via 24/7 markets.</p>
                        <p>Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services.</p>
                        <p>Seamlessly empower fully researched growth strategies and interoperable internal or "organic" sources.</p>
                       </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script src="../static/javaScript/about.js"></script>
</html>
            {% endblock %}