<div class="leftblock-section1">
    <div class="logo-section1">
        <img src="../static/img/logo/konstrakt-logo-inv.png" alt="">
    </div>
</div>
<div class="rightblock-section1 cursor-pointer">
    <div class="menu-section1">
        <ul>
            <li class="li  transition"><a href="/"><i class="fa fa-home"style="margin-right:4px;"></i>Home</a></li>
            <li class="li hover transition" ><a href="/about"><i class="fa fa-users"style="margin-right:4px;"></i>About</a></li>
            <li class="li hover transition"><a href="/service"><i class="fa fa-clone"style="margin-right:4px;"></i>Services</a>
                    <ul>
                        <li>
                          <a href="/singleServices"style="font-size:15px;">Single Services</a>
                        </li>
                    </ul>
            </li>
            <li class="li hover transition"><a href="/contact"><i class="fas fa-phone-alt"style="margin-right:4px;"></i>Contact</a></li>
            <li class="li hover transition"><a href="/portfolio"><i class="fas fa-folder"style="margin-right:4px;"></i>Portfolio</a></li>
            <li class="li hover transition"><a href="/news"><i class="fas fa-newspaper"style="margin-right:4px;"></i>News</a></li>
            <li class="li hover transition"><a href="/shoup"><i class="fas fa-shopping-cart"style="margin-right:4px;"></i>Shop</a></li>
        </ul>
    </div>
    <div class="icon-section1 flex">
        <div class="search-icon-section1 hover2 transition"><i class="fas fa-search"></i></div>
        <div class="bag-icon-section1 hover2 transition"><i class="fas fa-shopping-bag"></i></div>
    </div>
</div>
{% block content %}

{% endblock %}