<!DOCTYPE html>
<head>
    <title>{{title1}}</title>
    <meta name="viewport" content="width=device-width,inital-scale=1.0 ">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/sass/style.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdavidbaptistechirot.blogspot.com%2F2019%2F04%2Fup-arrow-icon-gif.html&psig=AOvVaw1PeoXc3MAOQ2HtPwUOwCKf&ust=1608234631861000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPCtq4Gj0-0CFQAAAAAdAAAAABAe">
<body>
<header id="header">
    <div class="refresh-button transition">
        <button class="refresh hover-white"><i class="fas fa-chevron-up"></i></button>
    </div>
    <div id="slider">
        <div class="largeblock-header flex justify-content-between width-100" style="background: none;">
            <div class="leftblock-header">
                <div class="logo-header"> 
                    <img src="../static/img/logo/konstrakt-logo-inv.png" alt="">
                </div>
            </div>
            <div class="rightblock-header cursor-pointer">
                <div class="menu-header">
                      <ul>
                        <li class="li hover transition"><a href="" class="one" ><i class="fa fa-home"style="margin-right:4px;"></i>Home</a></li>
                        <li class="li hover transition"><a href="/about"class="two"><i class="fa fa-users"style="margin-right:4px;"></i>About</a></li>
                        <li class="li hover transition"><a href="/service"class="three"><i class="fa fa-clone"style="margin-right:4px;"></i>Services</a>

                                <ul>
                                    <li>
                                      <a href="/singleServices"style="font-size:15px;">Single Services</a>
                                    </li>
                                </ul>
                        </li>
                        <li class="li hover transition"><a href="/contact"class="four"><i class="fas fa-phone-alt"style="margin-right:4px;"></i>Contact</a></li>
                        <li class="li hover transition"><a href="/portfolio"class="five"><i class="fas fa-folder"style="margin-right:4px;"></i>Portfolio</a></li>
                        <li class="li hover transition"><a href="/news"class="six"><i class="fas fa-newspaper"style="margin-right:4px;"></i>News</a></li>
                        <li class="li hover transition"><a href="/shoup"class="seven"><i class="fas fa-shopping-cart"style="margin-right:4px;"></i>Shop</a></li>
                    </ul>
                </div>
                <div class="icon-header flex">
                    <div class="search-icon-header hover2 transition"><i class="fas fa-search"></i></div>
                    <div class="bag-icon-header hover2  transition"><i class="fas fa-shopping-bag"></i></div>
                </div>
            </div>
        </div>
    <div class="right-buttons">
        <button class="button height-100 transition"><i class="fas fa-chevron-left"></i></button>
        <button class="button height-100 transition"><i class="fas fa-chevron-right"></i></button>
    </div>
    <div class="line absolute"></div>
    <div id="slider-countainer">
        <div id="slider1">
          <div class="over-lay-header width-100">
                <div class="letter absolute"> 
                  <div class="box absolute"></div>
                  <h1>Build your legacy</h1>
                  <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.Iterative<br>
                     approaches to corporate strategy foster collaborative thinking to future the overall value<br>
                     proposition.Organically grow the hlistic world view.
                  </p>
              <div class="tags"><span class="h5 absolute"><a class="more-about" href="/about" style="cursor: pointer;">More about Konstrakt</a>
                <div class="hover-red" style="width: 140px;"></div>
              </span></div>
              </div>
              <div class="up-logo-header absolute">
                  <img src="../static/img/3.jpg" alt="">
                  <div class="up-page absolute width-100 flex justify-content-between">
                      <div class="sentence row-column-center width-100"></h4>view our projects</div>
                      <button class="button transition"><i class="fas fa-chevron-right"></i></button>
                  </div>
              </div>
          </div>
        </div>
        <div id="slider2">
            <div class="over-lay-header2 width-100">
                  <div class="letter2 absolute"> 
                    <div class="box2 absolute" style="left: 29.3%;width: 377px; top: 30%;"></div>
                    <h1>Deliver excellence</h1>
                    <p>Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate<br>standardized metrics after resource-leveling processes. Objectively pursue diverse catalysts for<br>change for interoperable meta-services.
                    </p>
                <div class="tags2" style="width: 20.7%;"><span class="h5 absolute"><a class="more-about" href="/about" style="cursor: pointer;">View Konstrakt solutions</a>
                    <div class="hover-red" style="width: 156px;"></div>
                </span></div>
                </div>
                <div class="up-logo-header2 absolute">
                    <img src="../static/img/21.jpg" alt="">
                    <div class="up-page2 absolute width-100 flex justify-content-between">
                        <div class="sentence2 row-column-center width-100"></h4>view our procces</div>
                        <button class="button2 transition"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
          <div id="slider3">
            <div class="over-lay-header3 width-100">
                  <div class="letter3 absolute"> 
                    <div class="box3 absolute" style="top: 30%; width: 160px; left: 30%;"></div>
                    <h1>Build it right</h1>
                    <p>Podcasting operational change management inside of workflows to establish a framework. Taking<br>seamless key performance indicators offline to maximise the long tail. Keeping your eye on the<br>ball while performing a deep dive.
                    </p>
                <div class="tags3" style="width: 13.2%;"><span class="h5 absolute"><a class="more-about" href="/about" style="cursor: pointer;">View our service</a></span>
                    <div class="hover-red" style="width: 100px;"></div>
                </div>
                </div>
                <div class="up-logo-header3 absolute">
                    <img src="../static/img/22.jpg" alt="">
                    <div class="up-page3 absolute width-100 flex justify-content-between">
                        <div class="sentence3 row-column-center width-100"></h4>view services</div>
                        <button class="button3 transition"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
          </div>
          <div id="slider4">
            <div class="over-lay-header4 width-100">
                  <div class="letter4 absolute"> 
                    <div class="box4 absolute" style="width:275px; left: 38.2%;top:30%"></div>
                    <h1>Innovate passion</h1>
                    <p>Phosfluorescently expedite impactful supply chains via focused results. Holistically generate<br>open-source applications through bleeding-edge sources. Compellingly supply just in time<br>catalysts for change through top-line potentialities.
                    </p>
                <div class="tags4" style="width: 15%;"><span class="h5 absolute"><a class="more-about" href="/about" style="cursor: pointer;">View project pising</a>
                    <div class="hover-red" style="width: 120px;"></div>
                </span></div>
                </div>
                <div class="up-logo-header4 absolute">
                    <img src="../static/img/23.jpg" alt="">
                    <div class="up-page4 absolute width-100 flex justify-content-between">
                        <div class="sentence4 row-column-center width-100"></h4>view our clients</div>
                        <button class="button4 transition"><i class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
          </div>
    </div>
    <div class="manual-navigation">
        <label for="radio1" class="manual-btn1"></label>
        <label for="radio2" class="manual-btn2"></label>
        <label for="radio3" class="manual-btn3"></label>
        <label for="radio4" class="manual-btn4"></label>
    </div>
 </div>
</header>
    <section id="section">
        <div class="row">
            <div class="col-2">
                <div class="insection-block1">
                  <div class="writing">
                     <h1>Let's make<br>something great</h1>
                     <p>Bring to the table win-win survival strategies to ensure proactive<br>domination. At the end of the day, going forward, a new normal that<br>has evolved from generation X is on the runway heading towards a<br>streamlined cloud solution for your construction work.</p>
                     <span class="view-service-span"><a class="view-services"href="about.html">View our Services</a>
                        <div class="hover-red" style="width: 125px;"></div>
                     </span>
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="insection-block2">
                    <img src="../static/img/14.jpg" alt="">
                    <div class="insection-upblock">
                        <div class="writing-rgba">
                         <span>"</span>
                         <p>Efficiently unleash cross-media<br>information without cross-<br>media value. Quickly maximize<br>timely deliverables for real-time.</p>
                         </div>
                         <img src="../static/img/logo/img-signature.png" alt="">
                   </div>
                </div>
            </div>
    </section>
    <section id='section-kollection'>
        <div class="row">
            <div class="col-1">
            <div class="slider-galareya">
                <div class="galareya">
                    <img src="../static/img/galareya/logo-applauz.png" alt=""> 
                    <img src="../static/img/galareya/logo-bello.png" alt="">
                    <img src="../static/img/galareya/logo-berg.png" alt="">
                    <img src="../static/img/galareya/logo-california.png" alt="">
                    <img src="../static/img/galareya/logo-celeste.png" alt="">
                    <img src="../static/img/galareya/logo-codiqa.png" alt="">
                    <img src="../static/img/galareya/logo-estato.png" alt="">
                    <img src="../static/img/galareya/logo-primavera.png" alt="">
                    <img src="../static/img/galareya/logo-urbanist.png" alt="">
                </div>
                <div class="galareya">
                    <img src="../static/img/galareya/logo-applauz.png" alt=""> 
                    <img src="../static/img/galareya/logo-bello.png" alt="">
                    <img src="../static/img/galareya/logo-berg.png" alt="">
                    <img src="../static/img/galareya/logo-california.png" alt="">
                    <img src="../static/img/galareya/logo-celeste.png" alt="">
                    <img src="../static/img/galareya/logo-codiqa.png" alt="">
                    <img src="../static/img/galareya/logo-estato.png" alt="">
                    <img src="../static/img/galareya/logo-primavera.png" alt="">
                    <img src="../static/img/galareya/logo-urbanist.png" alt="">
                </div>
            </div>
            </div>
        </div>
    </section>
      <section id="section-count">
        <div class="row1">
            <div class="count-buttons">
                <div class="count-button hover"><i class="fas fa-chevron-left"></i></div>
                <div class="count-button hover"><i class="fas fa-chevron-right"></i></div>
                </div>
            <div class="medium-count">
            <div class="col-2">
                <div class="count-img1">
                  <div class="count-imgs">
                    <img src="../static/img/24.jpg" alt="">
                    <img src="../static/img/25.jpg" alt="">
                    <img src="../static/img/26.jpg" alt="">
                  </div>
                </div>
            </div>
            <div class="col-2">
                <div class="count-img2">
                    <h1>Excellence in every build</h1>
                    <p>Capitalize on low hanging fruit to identify a ballpark value<br>added activity to beta test. Override the digital divide with<br>additional clickthroughs from DevOps.</p>
                    <div class="skill-area">
                        <div class="skill">
                            <div class="Construction skill-fill">
                                <span class=skill-title>Construction</span>
                                <span class="skill-degre">98%</span>
                            </div>
                            <div class="skill-bar"></div>
                            <div class="Construction skill-fill-color"></div>
                        </div>
                    </div>
                    <div class="skill-area">
                        <div class="skill">
                            <div class="Design skill-fill">
                                <span class=skill-title>Design</span>
                                <span class="skill-degre">92%</span>
                            </div>
                            <div class="skill-bar"></div>
                            <div class="Design skill-fill-color"></div>
                        </div>
                    </div>
                    <div class="skill-area">
                        <div class="skill">
                            <div class="Execution skill-fill">
                                <span class=skill-title>Execution</span>
                                <span class="skill-degre">95%</span>
                            </div>
                            <div class="skill-bar"></div>
                            <div class="Execution skill-fill-color"></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="empty-class" style="width: 100%;height: 120px;"> </div>
     </section>
    <section id="section-block">
        <div class="picture" >
            <div class="over-lay-block">
                <div class="letter-block">
                    <h1>Building today for<br>better tomorrow</h1>
                </div>
                <div class="block-line"></div>
            </div>
            <div class="row">
                <div class="col-5"style="margin: 10px;">
                    <div class="find-out">
                    <div class="find-out-more">
                        <div class="icons-header"><img src="../static/img/construction.png" alt=""></div>
                        <div class="find-out-letter">
                        <h1>Business or<br>residential</h1>
                        <p>Taking seamless key<br>performance indicators offline<br> to maximise the tail.</p>
                        <span class="letter-span"><a href="/about">Find out more</a>
                            <div class="hover-red"></div>
                        </span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-5"style="margin: 10px;">
                    <div class="find-out">
                    <div class="find-out-more">
                        <div class="icons-header"><img src="../static/img/house-sketch.png" alt=""></div>
                        <div class="find-out-letter">
                            <h1>Project perfect<br>approach</h1>
                            <p>Leverage agile frameworks to<br>provide a robust synopsis for<br>high level overviews.</p>
                            <span class="letter-span"><a href="/about">Find out more</a>
                                <div class="hover-red"></div>
                            </span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-5"style="margin: 10px;" >
                    <div class="find-out">
                    <div class="find-out-more">
                        <div class="icons-header"><img src="../static/img/brick.png" alt=""></div>
                        <div class="find-out-letter">
                            <h1>Always quality<br>materials</h1>
                            <p>Iterative approaches to<br>corporate strategy foster<br>collaborative thinking.</p>
                            <span class="letter-span"><a href="/about">Find out more</a>
                                <div class="hover-red"></div>
                            </span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-5" style="margin: 10px;">
                    <div class="find-out">
                    <div class="find-out-more">
                        <div class="icons-header"><img src="../static/img/laborers.png" alt=""></div>
                        <div class="find-out-letter">
                            <h1>Creating<br>professionals</h1>
                            <p>Organically grow the holistic<br>world view of disruptive<br>innovation via workplace.</p>
                            <span class="letter-span"><a href="/about">Find out more</a>
                                <div class="hover-red"></div>
                            </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <section id="master">
        <div class="master-letter">
            <h1>Turning your<br>vision into reality</h1>
        </div>
        <div class="row" style="width:100%;"> 
           {% for master in masterList %}
           <div class="col-4" style="margin-right:20px;">
           <div class="master-block">
            <img src="../{{master.masterImg}}" alt="">
            <div class="name-block">
                <span class="name-master">{{master.masterName}}</span>
                <span class="profession">{{master.masterProfession}}</span>
            </div>
            <button class="master-button"><i class="fas fa-chevron-right"></i></button>
        </div>
        <div class="about" style="width: 100%;height: 120px;background:none;display: flex;align-items: center;font-family: cursive;">
            <span><p>{{master.masterAbout}}</p></span>
        </div>
        </div>
           {% endfor %}
    </div>
    <div class="apply-block">
    <div class="row">
        <div class="col-2">
            <div class="apply-picture">
                <img src="../static/img/16.jpg" alt="">
            </div>
        </div>
        <div class="col-2">
            <div class="apply">
                <div class="apply-letter">
                <h1>Your future job in<br>construction awaits<br>you right here</h1>
                <span class="apply-span"><a href="/contact">Apply now</a>
                    <div class="hover-red"></div>
                </span>
            </div>
            </div>
        </div>
    </div>
    </div>
    </section>
    <section id="get-in-touch" style="height: 1000px;"> 
          <div class="row">
              <div class="medium-count" style="height: 800px;transform: translateY(20%);">
            <div class="col-2">
                <div class="count-img2" style="width: 100%;height: 760px;transform: translateX(0px);">
                 <div class="get-in-touch-letter">
                    <h1>Get in touch</h1>
                    <p>Capitalize on low hanging fruit to identify a ballpark value<br>added activity to beta test. Override the digital divide with<br>additional clickthroughs from DevOps.
                    </p>
                 </div>
                 <div class="get-in-touch-line"></div>
                 <div class="form-home">
                    <form action="/registration" method='POST'>
                        <input required type="text" placeholder="Your name" name="name" required>
                        <label for="email-home"></label>
                        <input required type="email" id="email-home" placeholder="Your Email Address" name="email" required><br>
                        <input required type="tel" placeholder="Contact phone" name="contact" required>
                        <label for="select"></label>
                        <select name="profession" id="select" required>Project Scope<br>
                            <option value=">Project Scope">Project Scope</option><br>
                            <option value="Business">Business</option><br>
                            <option value="Residential">Residential</option><br>
                            <option value="Reconstruction">Reconstruction</option>
                        </select><br>
                        <textarea cols="50" rows="5" name="request" placeholder="Describe your request" style="font-size:16px;font-family: sans-serif;background: none;  padding:15px;margin-top:25px;border:1px solid gray;outline:none;"></textarea><br>
                        <label for="submit">
                            <div class="submit-div" style="width: 220px;"><span class="submit-span">Submit your request</span></div>
                            <input type="submit" id="submit">
                         </label>
                    </form>
                </div>
                </div>
            </div>
            <div class="col-2">
                <div class="count-img1" style="width: 100%; height: 760px;transform: translateX(40px);">
                    <img src="../static/img/31.jpg" alt="">
                </div>
            </div>
        </div>
        </div>
    </section>
    <section id="section-poct" style="height: 280px;">
        <div class="row" style="transform: translateY(25%);">
            <div class="col-5">
                <div class="konstract-location" style="width: 100%; height: 200px;display:flex;align-items: center;font-family: sans-serif;margin-left: 40px;">
                <h1 style="font-size: 25px;">Konstrakt<br>Location</h1>
                </div>
            </div>
            <div class="col-5">
                <div class="address"style="width: 100%; height: 100px;transform: translateY(50%);border-left: 5px solid #e91b1b;display:flex;">
                <span style="margin-left: 15px; margin-top: -20px;"><i class="far fa-map" style="font-size: 60px;text-align: center;margin-top: 15px;color:#e91b1b;font-weight: 100; font-weight: inherit;"></i></span>
                <span style="margin-left: 20px;">
                    <h1 style="font-size: 25px;margin-bottom: -10px;font-weight: inherit;">Address</h1>
                    <span style="margin: 10px;color: gray;font-size: 17px;font-weight: normal;"><p>2801 S 43rd St.<br>Franklin, Milwaukee</p></span>
                </span>
                </div>
            </div>
            <div class="col-5">
                <div class="email" style="width: 100%; height: 100px; display: flex;align-items: center;transform: translateY(50%);">
                <span><i class="fas fa-envelope-open-text" style=" text-align: center; font-size: 60px;color: #e91b1b;"></i></span>
                <span style="margin-left: 20px;">
                    <h1 style="font-size: 25px;margin-bottom: -10px;font-weight: inherit;">Email</h1>
                    <span style="margin: 10px;color: gray;font-size: 17px;font-weight: normal;" ><p>info@konstrakt.com</p></span>
                </span>
                </div>
            </div>
            <div class="col-5">
                <div class="call-us"style="width: 100%; height: 100px; display: flex;align-items: center;transform: translateY(50%);">
                <span>
                    <i class="fas fa-mobile-alt" style="text-align: center; font-size: 60px;color: #e91b1b;"></i>
                </span>
                <span style="margin-left: 20px;">
                    <h1 style="font-size: 25px;margin-bottom: -10px;font-weight: inherit;">Call us</h1>
                    <span style="margin: 10px;color: gray;font-size: 17px;font-weight: normal;" ><p>414-214-0362</p></span>
                </span>
            </div>
            </div>
        </div>
    </section>
</body>
    <script src="../static/javaScript/home.js"></script>
</html>