<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title3}}</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/sass/home/_pages.scss">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<header id="apply-pages">
    <div class="row">
        <div class="col-2">
         <div class="form-imgs">
            <div class="over-lay-pages">
             <h1>Let's build<br>together</h1>
             <div class="line-pages"></div>
         </div>
         <div class="all-icon-pages">
             <div class="up-icon">
                 <div class="rule-pen">
                     <div class="icon-div"><i class="fas fa-file-signature"></i></div>
                     <div class="div-letter">
                         <h1>Challenging projects</h1>
                         <p>Proactively envisioned<br>multimedia based expertise<br>and cross-media growth<br>strategies.</p>
                     </div>
                 </div>
                 <div class="like-hand">
                    <div class="icon-div"><i class="fas fa-thumbs-up"></i></div>
                    <div class="div-letter">
                        <h1>Awesome Clients</h1>
                        <p>Credibly innovate granular<br>internal or organic sources<br>whereas high standards in<br>web-readiness.</p>
                    </div>
                 </div>
             </div>
             <div class="under-icon">
                 <div class="cup-icon">
                    <div class="icon-div"><i class="fas fa-trophy"></i></div>
                    <div class="div-letter">
                        <h1>Award winning team</h1>
                        <p>Energistically scale future-<br>proof core competencies<br>vis-a-vis impactful<br>experiences.</p>
                    </div>
                 </div>
                 <div class="lamp-icon">
                    <div class="icon-div"><i class="fas fa-lightbulb"></i></div>
                    <div class="div-letter">
                        <h1>Creative environment</h1>
                        <p>Podcasting operational<br>change management inside<br>of workflows to establish a<br>framework.</p>
                    </div>
                 </div>
             </div>
         </div>
         </div>
        </div>
        <div class="col-2">
            <div class="form">
                <form action="#">
                    <label for="gmail"></label>
                    <input required type="text" placeholder="Your name"><br>
                    <input required type="text" placeholder="Your address"><br>
                    <input required type="text" placeholder="City"><br>
                    <input required type="text" placeholder="Postcode"><br>
                    <input required type="tel" placeholder="Phone number"><br>
                    <input required type="email" placeholder="Your email" id="gmail"><br>
                    <label><span class="label-span">Upload your resume</span><br>
                    <input required multiple type="file" accept="pdf/*" id="file">
                    <label  for="file"><div class="flex-file"><div class="file"><span class="chosse">Chosse File</span></div><span class="no-file">No file chosen</span></div></label> <br>
                   </label>
                    <textarea cols="50" rows="5"  placeholder="Message" style="font-size:16px;font-family: sans-serif;padding:15px;margin-top:5px;border:1px solid gray;outline:none;"></textarea><br>                    
                    <label for="submit">
                        <div class="submit-div"><span class="submit-span">Submit your appilication</span></div>
                        <input type="submit" id="submit">
                     </label>
                </form>
            </div>
            <div class="refresh-button-page">
                <div class="refresh-page"><a href="/"><br>Home</a></i></div>
            </div>
        </div>
    </div>
</header>
    
</body>
</html>