<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title6}}</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/sass/home/_portfolio.scss">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<header id="section3">
            <div class="largeblock-section3 flex justify-content-between width-100">
                <div class="leftblock-section3">
                    <div class="logo-section3">
                        <img src="../static/img/logo/2.logo.png" alt="">
                    </div>
                </div>
                <div class="rightblock-section3 cursor-pointer">
                    <div class="menu-section3">
                        <ul>
                            <li class="li hover transition"><a href="/"><i class="fa fa-home"style="margin-right:4px;"></i>Home</a></li>
                            <li class="li hover transition" ><a href="/about"><i class="fa fa-users"style="margin-right:4px;"></i>About</a></li>
                            <li class="li hover transition"><a href="/service"><i class="fa fa-clone"style="margin-right:4px;"></i>Services</a>
                                    <ul>
                                        <li>
                                          <a href="singleServices"style="font-size:15px;color:red;">Single Services</a>
                                        </li>
                                    </ul>
                            </li>
                            <li class="li hover transition"><a href="/pages"><i class="fa fa-edit"style="margin-right:4px;"></i>Pages</a></li>
                            <li class="li hover transition"><a href="/portfolio"><i class="fas fa-folder"style="margin-right:4px;"></i>Portfolio</a></li>
                            <li class="li hover transition"><a href="/news"><i class="fas fa-newspaper"style="margin-right:4px;"></i>News</a></li>
                            <li class="li hover transition"><a href="/shoup"><i class="fas fa-shopping-cart"style="margin-right:4px;"></i>Shop</a></li>
                        </ul>
                    </div>
                    <div class="icon-section1 flex">
                        <div class="search-icon-section3 hover2 transition"><i class="fas fa-search"></i></div>
                        <div class="bag-icon-section3 hover2 transition"><i class="fas fa-shopping-bag"></i></div>
                    </div>
                </div>
            </div>
        </div>
      <div class="over-lay-section3 width-100">
        <div class="row">
            <div class="col-1">
                <div class="medium-background">
                    <div class="over-layPortfolio">
                    <div class="col-2">
                      <div class="portfolio-up ">
                        <div class="portfolio-btns">
                            <span class="portfolio-btn1"><a href="/service"><i class="fas fa-pencil-alt"></i>Services</a></span>
                            <span class="portfolio-btn2"><a href="/singleServices">Single Services</a></span>
                        </div>
                        <h1>Shanghai temple</h1>
                        <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override<br>the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion<br>along the information highway will close the loop on focusing solely on the bottom line.</p>
                      </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
      </div>
</header>
<section id="portfolio-section">
    <button class="up-btn-overlay transition" ><p>Close</p></button>
    <button class="next-btn-overlay transition"><p>Next</p></button>
    <button class="prew-btn-overlay transition"><p>Prew</p></button>
    <div class="row">
        <div class="col-4" style="margin: 10px;">
            <div class="modul-img">
                <img src="../static/img/17.jpg" alt="">
                <div class="plus-btn"><i class="fas fa-plus"></i></div>
                <div class="over-lay-plus"></div>
            </div>
        </div>
        <div class="col-4"style="margin: 10px;">
            <div class="modul-img">
                <img src="../static/img/16.jpg" alt="">
                <div class="plus-btn"><i class="fas fa-plus"></i></div>
                <div class="over-lay-plus"></div>
            </div>
        </div>
        <div class="col-4"style="margin: 10px;">
            <div class="modul-img">
                <img src="../static/img/15.jpg" alt="">
                <div class="plus-btn"><i class="fas fa-plus"></i></div>
                <div class="over-lay-plus"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4"style="margin: 10px;">
            <div class="modul-img">
                <img src="../static/img/13.jpg" alt="">
                <div class="plus-btn"><i class="fas fa-plus"></i></div>
                <div class="over-lay-plus"></div>
            </div>
        </div>
        <div class="col-4"style="margin: 10px;">
            <div class="modul-img">
                <img src="../static/img/12.jpg" alt="">
                <div class="plus-btn"><i class="fas fa-plus"></i></div>
                <div class="over-lay-plus"></div>
            </div>
        </div>
        <div class="col-4"style="margin: 10px;">
            <div class="modul-img">
                <img src="../static/img/14.jpg" alt="">
                <div class="plus-btn"><i class="fas fa-plus"></i></div>
                <div class="over-lay-plus"></div>
            </div>
        </div>
    </div>
    <div class="up-modal"></div>
</section>
</body>
<script src="../static/javaScript/portfolio.js"></script>
</html>