<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title4}}</title>
    <link rel="stylesheet" href="../static/sass/home/_services.scss">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <header id="section2">
        <div class="over-lay-section2 width-100">
            <div class="largeblock-section2 flex justify-content-between width-100">
                {% extends "base.html" %}
                {% block content %}
            </div>
            <div class="letter-section2">
                <div class="box-section2 absolute"></div>
                <div class="line-section2 absolute"></div>
                <h1>Construction<br>Services</h1>
                <p>
                    Capitalize on low hanging fruit to identify a ballpark value added<br>activity to beta test. Override the digital divide with additional<br>clickthroughs.
                </p>
            <div class="up-logo-section2 absolute">
                <img src="../static/img/9.jpg" alt="">
                <div class="up-page absolute width-100 flex justify-content-between">
                    <div class="sentence row-column-center width-100" style="font-size: 18px;"><h4>view our projects</h4></div>
                    <button class="button transition"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
    </header>
</body>
 <script src="../static/javaScript/service.js"></script>
</html>
                {% endblock %}
           