<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title5}}</title>
    <link rel="stylesheet" href="../static/sass/style.scss">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <section id="singleServices">
        <div class="over-lay-singleServices width-100">
            <div class="largeblock-singleServices flex justify-content-between width-100">
                {% extends "base.html" %}
                {% block content %}
            </div>
            <div class="row-singleServices">
                <div class="col-1">
                    <div class="upletter-singleServices">
                        <h1>Construction<br>and Desigin</h1>
                        <div class="singleServices-line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="upline-singleServices"></div>
                    <div class="col-4">
                        <div class="singleServicescol-4">
                            <div class="all-p">
                                <span>"</span>
                            <h3>A mission becomes your constitution, the solid expression of your vision and values.</h3>
                            <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.</p>
                            <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Objectively innovate empowered manufactured products whereas parallel platforms.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="section1col-4">              
                            <div class="all-p">
                             <p>Objectively integrate enterprise-wide strategic theme areas with functionalized infrastructures. Interactively productize premium technologies whereas interdependent quality vectors. Rapaciously utilize enterprise experiences via 24/7 markets.</p>
                             <p>Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services.</p>
                             <p>Seamlessly empower fully researched growth strategies and interoperable internal or "organic" sources.</p>
                            </div>
                         </div> 
                    </div>
                    <div class="col-4">              
                        <div class="singleServicescoll-4">
                            <div class="singleServices-btns">
                                <button class="singleServices-btn transition"><i class="fas fa-chevron-left"></i></button>
                                <button class="singleServices-btn transition"><i class="fas fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="../static/javaScript/singleServices.js"></script>
</html>
                {% endblock %}
            